.publications {
  background: #F5F5FA;

  &_heading {
    display: inline-block;
    margin-bottom: 30px;

    .link-public {
      display: flex;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      align-items: center;
      color: $normal;
      margin-bottom: 10px;
      width: 94px;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    .link-public::after {
      content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%2324A3FF' stroke-width='2'/%3E%3C/svg%3E");
      margin-left: 5.5px;
      line-height: 0px;
    }

    .link-public:hover {
      color: $accent;
    }

    .link-public:hover::after {
      content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%23F0145A' stroke-width='2'/%3E%3C/svg%3E");
    }
  }

  &_title {
    background: $grad_red-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
}


.ticket {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;

  &_img {
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_info {
    display: inline-block;
    padding: 30px;

    h4 {
      font-size: 16px;
      line-height: 20px;
      color: $normal;
      margin: 0;
      padding: 0;
      margin-bottom: 15px;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      margin: 0;
      padding: 0;

      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }

    .date {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #B3B3BA;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 4px solid #E6E6F0;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  }
}


@media screen and (min-width: 350px) {
  .publications {
    padding: 0 30px;
    padding-top: 30px;

    &_title {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

@media screen and (min-width: 350px) {
  .ticket {
    margin-bottom: 30px;
  }

  .ticket:last-child {
    margin: 0;
  }
}


@media screen and (min-width: 721px) {
  .publications_tickets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .publications {
    &_title {
      font-size: 38px;
      line-height: 46px;
    }
  }

  .ticket {
    margin: 0;
  }

  .ticket_last {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 768px) {
  .publications {
    padding: 0 60px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 950px) {
  .publications_tickets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .ticket_last {
    grid-row-start: 1;
    grid-column-start: 3;
  }
}

@media screen and (min-width: 1920px) {
  .publications {
    padding: 0 160px;
    padding-top: 30px;
  }
}