.team {
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
  overflow: hidden;

  .img_wrapper {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-place {
    box-sizing: border-box;
    padding: 30px;

    p {
      margin: 0;
      padding: 0;

      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }

    .info {
      background: $grad_red-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 30px;
      border: 0;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      color: #B3B3BA;
      text-transform: capitalize;
      margin: 0;
      padding: 0;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    .info_down {
      font-size: 14px;
      line-height: 22px;
      color: #B3B3BA;
    }
  }

  // .team-slider {

    
  // }

  .info_link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 94px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%2324A3FF' stroke-width='2'/%3E%3C/svg%3E");
      margin-left: 5.5px;
      line-height: 0px;
    }

    &:hover {
      color: $accent;
    }

    &:hover::after {
      content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%23F0145A' stroke-width='2'/%3E%3C/svg%3E");
    }
  }
}

@media screen and (min-width: 350px) {
  .team-slider {
    padding: 30px;
    padding-top: 50px;

    .swiper {
      display: flex;
      justify-content: center;
    }
  }

  .team {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .img_wrapper {
    flex: 0 0 500px;
  }

  .info_link {
    text-decoration: none;
    color: $normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .info {
    font-size: 30px;
    line-height: 37px;
  }
}

@media screen and (min-width: 768px) {
  .team-slider {
    padding: 60px;
    padding-top: 80px;
  }

  .info {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (min-width: 900px) {
  .team {
    flex-direction: row;
  }

  .img_wrapper {
    flex: 0 0 400px;
  }
}

@media screen and (min-width: 1920px) {
  .team-slider {
    padding: 60px 160px;
  }
}